/* ---------------------------- Readme section ----------------------------*/

.readme-container {
    margin-top: 15px;
    border-radius: 0.3vw;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding-bottom: 15px;
  }
  
  .readme-titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
    border-radius: 0.3vw 0.3vw 0 0;
    background-color: #e5e5e5;
    border-bottom: 1px solid #b2b2b2;
  }
  
  .readme-profile-pic {
    height: 2em;
    width: 2em;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 0.3vw;
    margin-left: 3%;
    display: flex;
  }
  
  .readme-name {
    margin-left: 2.5%;
    color: #1c2b40;
  }
  
  .readme-content-container {
    display: flex;
    flex-direction: column;
    margin: 20px 90px;
  }
  
  .readme-content-container p {
    padding: 0px;
    margin: 0;
    color: #1c2b40;
    text-align: left;
    font-size: 1vw;
  }
  
  #project-name-readme {
    display: inline-flex;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 2px solid #1c2b40;
  }
  
  #project-content-readme {
    padding-top: 1.5%;
    font-size: 1em;
  }
  
  /* ----------------------- ----------------------- ----------------------- */
  

.readme-content-container p{
    padding: 1em 0 !important;
}

.readme-content-container{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.readme-content-container p > a{
    color: #1b69b6
}

pre{
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 1.6em;
    border-radius: 2px;
    overflow-x: auto;
    border: 1px solid #e5e5e5;
    padding: 1em;
}

pre code{
    white-space: pre;
}

p code{
    color: #c0341d;
    background-color: #fbe5e1;
}


