html, body, div, applet, object, iframe,
blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  // margin: 0;
  // padding: 0;
  // border: 0;
  // font-size: 100%;
  // vertical-align: baseline;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

body {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5;
}
