
.register-view {
  background-color: var(--light);
  width: 100%;
  min-height: 100vh;
}

.register-view_container {
  padding-top: 5rem;
  padding: 1rem;
}

.register-view_welcome-title {
  width: 400px;
  margin: auto;
}

.register-view_brand {
  margin: auto;
}

.register-view_brand .brand {
  margin: auto;
  width: 80px;
  height: 80px;
  padding: 0.5rem;
}

.register-view_form {
  box-sizing: content-box;
  border: solid 1px var(--secondary);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-bottom: 0.25rem;
}

.register-view_form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 535px;
  margin: auto;
}

.register-view_form_header {
  box-sizing: content-box;
  border: solid 1px var(--secondary);
  border-radius: 5px;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--dark);
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem 1rem;
}

.register-view_form_content {
  margin: 1rem 1.5rem;
}

.register-view_form_content .cols-2 {
  display: flex;
  margin: 0 -0.5rem;
}

.register-view_form_content .cols-2>* {
  width: 100%;
  padding: 0 0.5rem;
}

.register-view_form_footer {
  box-sizing: content-box;
  border: solid 1px var(--secondary);
  border-radius: 5px;
  background-color: var(--light);
  width: 100%;
  padding: 1rem 0;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.register-view_submit {
  text-align: center;
  margin-top: 1rem;
}



.register-view .form-group {
  padding: 1rem 0;
}

@media screen and (max-width: 900px) {
  .register-view_form_content .cols-2 {
    flex-wrap: wrap;
  }
}
