.main-div{
    display: flex;
    margin: 0 12%;
    height: auto;
}

.proj-description > span{
    color: #1c2b40; 
    font-weight: 600; 
    font-size: 1.3125rem;
}

.separator{
    border-left: 3px solid #e5e5e5; 
    margin: 2em 0; 
    padding-right: 2em;
}

.heading{
    color: #1c2b40; 
    font-weight: 600; 
    font-size: 0.875rem
}

.label-name{
    display: flex; 
    flex-direction: column;
}

.data-types{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1em; 
    margin-top: 1em
}

.data-types > div{
    background-color: #e5e5e5; 
    max-width: 14em; 
    border-radius: 6px; 
    max-height: 3em;
}

.form-controls{
    display: flex; 
    margin-top: 1em;
}

.visibility-msg{
    color: #919191; 
    padding-left: 2.5em
}

.readME{
    margin-top: 1em;
}

.readme-msg{
    color: #919191; 
    padding-left: 2.5em;
    margin: 0;
}

.customize{
    width: 180px; 
    top: 16em; 
    right: 44.5em; 
    z-index: 10;
}

.text-input {
    max-width: 320px; 
    min-width: fit-content;
    margin: 1em 0;
    padding: 6px 10px;
    width: 100%; 
    border: 1px solid #dfdfdf; 
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    background-clip: padding-box;
}

.text-input:focus {
    -webkit-box-shadow: 0 0 10px #99ddff;
    box-shadow: 0 0 8px #99ddff;
}

textarea{ 
    overflow: auto;
    margin: 1em 0;
    padding: 6px 10px;
    width: 100%; 
    border: 1px solid #dfdfdf; 
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    background-clip: padding-box;
}

.area-focus:focus{
    -webkit-box-shadow: 0 0 10px #99ddff;
    box-shadow: 0 0 8px #99ddff;
}

.create-project .form-control {
  border-left: solid 1px var(--secondary);
}

#visibility-icon{
    width: 1em;
    margin-left: 0;
    margin-right: 4px;
}

#nameSpace{
    min-width: 160px !important;
    padding-top: 0.4em !important;
    padding-bottom: 0.2em !important;
}

.data-types-sec {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.data-types-sec div {
  padding: 0.1rem 1rem;
  margin: 0.3rem;
  background-color: var(--light);
}

.data-type-disabled {
  margin: 0.5rem 0;
  color: var(--secondary);
}