.modify-MR{
    display: flex;
    margin: 2em 3em 0;
    height: 2em;
}

.modify-MR > .left-margin {
    margin-right: 0.5em;
}


.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3){
    display: block;
  }
  
  /*
   Styling
  */
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 1em 3em;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

  .opened{
    color: #15b785;
  }

  .closed{
    color: #ff5757;
  }

  .merged{
    color: #007a99;
  }

  .faded-style{
      color: #707070;
  }

  .state-box{
    border: 1px solid #e5e5e5; 
    padding: 1em 2em; 
    height: auto;
  }

  .request-to-merge{
    border: 1px solid #e5e5e5; 
    padding: 1em 2em; 
    height: auto;
  }

  .state-config{
    font-weight: 600; 
    font-size: 14px; 
    margin-right: 1em;
  }

  .checkBox{
      width: 15px;
      height: 15px;
  }

  .avatar-style{
    border-radius: 50%; 
    border: 1px solid #f5f5f5; 
    border-color: rgba(0,0,0,0.1);
  }

  .revert-merge{
    right: 0; 
    border-radius: 4px; 
    margin: 0 4em; 
    border: 1px solid #fc9403; 
    color: #de7e00; 
    background-color: #fff; 
  }
