#empty-project {
  width: 100%;
  & pre {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono",
    "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    display: block;
    padding: 8px 12px;
    margin: 0 0 8px;
    font-size: 13px;
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
    color: #2e2e2e;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    
    p {
      margin: 0;
    }
  }
}

.bg-light{
  background-color: #f2f2f2 !important
}

h5 {
  font-size: 14px;
}

fieldset{
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
