.pipeline-card > .card-content {
    display: flex;
    flex-wrap: wrap;
}

.pipeline-card > .card-content > .summary-data {
    flex: 1 0 auto;
    width: 80%;
    color: #1c2b40;
    display: flex;
    border-top: none !important;
}

.pipeline-card > .card-content > .summary-data > .project-desc-experiment {
    padding: 0% 1% 0% 1%;
    margin-left: 1%;
    width: 20%;
}

.pipeline-card > .card-content > .buttons-div {
    display: flex;
    flex-direction: row-reverse;
    padding: 0% 1% 0% 1%;
    margin-top: 15px;
    height: max-content;
}

.pipeline-card > .card-content > .buttons-div button {
    cursor: pointer;
    border-radius: 0.3vw;
}

.pipeline-card > .card-content > .buttons-div button.dangerous-red {
    border-radius: 0.3vw;
    border-width: 1.7px;
    width: 35px;
}


/* ----------------------- Card container ----------------------- */

.card-content > .buttons-div > button{
    margin-right: 5px !important;
}

.card-content .data-summary {
    display: flex;
}

.card-content > .data-summary > .chart-container {
    width: 70%;
}

.card-content > .data-summary > .content {
    margin-left: 3%;
}

.card-content > .data-summary > .content > p {
    margin: 4px;
}

/* --------------------------- Card results css --------------------------- */

.card-content > .card-results {
    display: flex;
    width: 100%;
    margin-left: 1.5%;
}

.card-content > .card-results > .data-card {
    border: 1px solid #e5e5e5;
    width: 32%;
    margin: 0% 0% 1% 0.5%;
    border-radius: 0.5vw;
}

.card-content > .card-results > .data-card > .title {
    border-radius : inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    padding: 5px;
}

.card-content > .card-results > .data-card > .title {
    border: 1px solid #e5e5e5;
    background-color: #1c2b40;
    color: #ffff;
}

.card-content > .card-results > .data-card > div:not(.title) {
    padding: 3% 0% 0% 5%;
}

.card-content > .card-results > .data-card > div > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* --------------------------- Empty experiment --------------------------- */

.epmty-experiment-logo{
    width: 350px;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
