.data-visualization-card-content {
  display: flex;
  color: #1C2B40;
  padding: 0.5em 0.25em 0.5em 2em;
  border-top: 2px solid #e5e5e5;
}

.data-visualization-card-content > .general-information {
  width: 30%;
  text-align: left;
}

.data-visualization-card-content > .general-information > p {
  cursor: pointer;
}

.data-visualization-card-content > .detailed-information-1 {
  width: 17.5%;
  text-align: center;
}

.data-visualization-card-content > .detailed-information-2 {
  width: 17.5%;
  text-align: center;
}

.data-visualization-card-content > #buttons-div {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 1%;
  width: 35%;
  height: max-content;
}

#buttons-container > button {
  margin-right: 1em;
}

.data-visualization-card-content > #buttons-div > button {
  margin: 1%;
}