

.hiddenMss {
    visibility: hidden;
    color: #3f4b5d;
    height: inherit;
}

.hiddenMss > p {
    padding: 0;
    margin: 5px 0 0 0;
}

.input-component-container {
    width: max-content;
    flex-direction: row;
    display: flex;
}

.input-component-container > .hiddenMss{
    margin-left: 2%;
}

.input-component-container > div {
    height: max-content;
}

.input-component-container > div, .input-component-container > div > input {
    border-radius: 0.3vw;
    margin-right: 8px;
    max-width: 200px;
}

.input-component-container > div > input {
    padding: 4px 6px 4px 6px;
    height: 1.5em;
}

.grey-border {
    border: 1px solid #888f9a;
}
