#left-div > .input-component-container > div > input {
    padding: 0.5em 2em 0.7em 1.5em;
    width: 130%;
    margin-left: 4%;
}

#left-div > .reference > button{
    padding: 0.5em 2em 2em 2em;
}

#left-div > .reference > button > .select >img{
    margin: 4px 0 auto auto;
    height: unset;
}

#left-div > .reference > button > .select p{
    margin: 16px 4px 0 0;
}

.switch-header{
    font-size: 14px;
    text-align: center;
}

.arrow-button > .select {
    height: unset;
    margin-top: unset;
}

/* ------------- table styles ----------------*/

.modal-content > #table-container {
    max-height: 330px;
    margin-left: 4%;
    width: 92%;
    overflow-y: scroll;
    border-bottom: 1px solid #e8e8e8;
}

.modal-content > #table-container > table {
    height: 100%;
}

.MuiIconButton-label {
    color: #1d2b40;
}
