.file-container {
  margin: 0% auto 0% auto;
  margin-top: 15px;
  border: 1px solid #9e9e9e;
  border-radius: 0.3vw;
  max-width: 1024px;
  align-items: center;
}

.file-container .file-container-header {
  color: #1c2b40;
  margin-top: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  display: flex;
  border-radius: 0.3vw 0.3vw 0 0;
}

.file-container-header p {
  margin-left: 1vw;
  font-size: 1em;
  font-weight: 600;
}

.file-content {
  color: #1c2b40;
  font-size: 1em;
  padding: 1% 2% 1% 2%;
  overflow-y: hidden;
}

.file-content > div {
  top: 50%;
  left: 50%;
  height: auto;
}

.file-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  object-position: center center;
}

.file-content table {
  width: max-content;
  text-align: left !important;
}

.file-content tr td {
  line-height: 0px;
}

.Box-body:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: -1px;
}
.blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.p-0 {
  padding: 0 !important;
}

.file-content {
  text-align: center !important;
  padding: 16px !important;
}

.file-info {
  display: flex;
  flex: 1 1 auto !important;
  padding-right: 16px !important;
  height: 3em;
}

.wrapper {
  display: flex !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.file-actions {
  display: inline-flex;
  vertical-align: middle;
}

.red-button {
  color: #ffffff;
  background-color: red;
  font-weight: 400;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
}

.commit-container {
  margin: 0% auto 0% auto;
  margin-top: 15px;
  border: 1px solid #9e9e9e;
  border-radius: 0.3vw;
  max-width: 1024px;
  align-items: center;
}

.branch-path {
  display: flex;
  margin: 0% auto 0% auto;
  margin-top: 15px;
  max-width: 1024px;
  align-items: center;
}

.branch-path span {
  margin-left: 1em;
}

.branch-btn button {
  color: #1c2b40;
  position: relative;
  cursor: pointer;
  background: none;
  text-decoration: none;
  border: 1px solid #1c2b40;
  border-radius: 0.3vw;
  font-weight: 400;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
}

.fileview-select{
  top: 38% !important;
  left: auto !important;
}

.branch-btn span{
  text-overflow: ellipsis;
  width: 5em;
  overflow: hidden;
  white-space: nowrap;
}

.branch-btn img {
  margin-right: 0;
}

.branch-btn {
  display: flex;
}

.branch-path img {
  padding-left: 10px;
}

.commit-container .file-container-header {
  color: #1c2b40;
  margin-top: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  display: flex;
  border-radius: 0.3vw 0.3vw 0 0;
}

.commit-info {
  display: flex;
  flex: 1;
}

.commit-msg {
  padding-bottom: 1em;
}

.commit-msg > p {
  margin-bottom: 5px;
  font-size: 16px;
}

.commit-msg > span {
  padding: 0 1em;
}

.commit-code {
  display: flex;
  margin: 1.5em 1em;
  border: 1px solid #adadad;
  border-radius: 3px;
  height: 30px;
}

.commit-code span {
  margin-left: 0;
  padding: 0 1em;
  margin-top: 0.5em;
}

.contributors {
  margin: 1em 1em 1em 4.5em;
  display: flex;
}

.contributor-list {
  display: flex;
  margin-left: 1em;
}

.contributor-list > div {
  margin-left: 0;
}

.contributors > .commit-pic-circle {
  margin-top: 0.5em;
  margin-left: 5px;
  border: 1px solid #1c2b40;
}

.filepath span {
  margin-left: 3px;
}

.filepath a {
  cursor: pointer;
}
