.generic-modal > .modal-content > .title-div {
  background-color: #F6554D;
  border-top-left-radius: inherit !important;
  border-top-right-radius: inherit !important;
  color: white;
}

.MuiIconButton-label {
  color: #1d2b40;
}


#delete-file-btn {
  background-color: #F6554D;
}