$coral-blue: #16ADCE;
$navy-blue: #1c2b40;
$white: #ffffff;

.web-box{
    display: -webkit-box;
    padding: 3em 0 0 2em;
}

.insights{

        &-menu{
        display: grid;
        height: min-content;
        padding: 0px 2em; 
        
        > a {
            margin: 0.8em 0px;  
        };

        > .mbtn {
            padding: 5px 30px;
            background-color: $white;
            color: $navy-blue;
            border: 1px solid $navy-blue;
            border-radius: 0.3vw;
            cursor: pointer;
            height: 1.5em;
            text-align: center;
            text-decoration: none;
        };
        
        > .active {
            border: 1px solid $coral-blue;
            background-color: $coral-blue;
            color: $white;
        }
    };
}
